@model IEnumerable<Project_v._1.Models.job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4 mb-4">
                        <img src="@Html.DisplayFor(model => item.pictruejob)" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>@Html.DisplayFor(model => item.namejob)</b></h5>
                            <p class="card-text"><b>ที่อยู่</b> :@Html.DisplayFor(model => item.location)</p>
                            <p class="card-text"><small class="text-muted">ราคางาน :@Html.DisplayFor(model => item.price)</small></p>
                        </div>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item._id })|
                            @Html.ActionLink("Details", "Details", new { id = item._id })|
                            @Html.ActionLink("Delete", "Delete", new { id = item._id })|
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
